header {
  background-color: cadetblue;
  border-bottom: 1px solid burlywood;
}
.header__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 8px;
  min-width: 320px;
}
