@import '~node_modules/modern-normalize/modern-normalize.css';

a {
  display: block;
  max-height: 170px;
  overflow: hidden;
}
img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: var(--transition);
  &:hover {
    transform: scale(1.4);
  }
}
ul,
h1,
h2,
h3,
p {
  list-style: none;
  margin: 0;
  padding: 0;
}
section {
  padding: 24px 0;
}
.icon {
  display: flex;
  width: 32px;
  height: 32px;
  fill: currentColor;
  transition: var(--transition);
}

.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  gap: 4px;
  cursor: pointer;

  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

.info-text {
  transition: var(--transition);
}
