@import '~node_modules/modern-normalize/modern-normalize.css';

a {
  display: block;
  max-height: 170px;
  overflow: hidden;
}
img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}
ul,
h1,
h2,
h3,
p {
  list-style: none;
  margin: 0;
  padding: 0;
}
section {
  padding: 24px 0;
}
